  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        
        <!--Boostrap JS Link-->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        
		<!--Font Awesome-->
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    
</head>
<body>
    
    
    <div class="navbar navbar-expand-lg navbar-dark">
        <form class="form-inline  my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search">
      <button class="btn btn-outline-dark my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button>
             <i class="fas fa-shopping-cart fa-lg fa-2x cart"></i>
            
            <a type="singin" href="/login"><button class="btn btn-dark signin">Iniciar Sesion </button></a>
            
            <a type="singin" href="/login"><button class="btn btn-dark regis">Registrarse </button></a>
         </form>

    </div>
    

    
    <section id="nav">
    
    <a href="/"><img src="images/tecaf.jpg" class="navimg" width="145.2" height="102.8"></a>

  <div id="mySidebar" class="sidebar">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a class="nav-link" href="/fu">INICIO</a>
  <a class="nav-link" href="/seccion-bisagras">BISAGRAS</a>
  <a  class="nav-link" href="/seccion-hule">ACCESORIOS DE HULE</a>
  <a class="nav-link" href="/seccion-cafe">INDUSTRIA DEL CAFE</a>
<a class="nav-link" href="/seccion-cafe">CONTACTO</a>
  
</div>

<div id="main">
    <button class="openbtn" onclick="openNav()" onclick="dissa();"><i class="fas fa-arrow-right fa-2x"></i>MENU PRINCIPAL</button> 
</div>
    </section>