<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
        <title>TECAF Lim.</title>
        
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <!--CSS Link-->
        
        <link href="fullstack.css" rel="stylesheet">
        
        <!--Boostrap CSS Link-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        
        <!--Boostrap JS Link-->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        
		<!--Font Awesome-->
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
		
    </head>
    <body>
        
        <nav class="navbar navbar-l navbar-expand-lg">
            <a class="navbar-brand" href="#">TECAF</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navlist" aria-controls="navlist" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon">
                    <div class="color"></div>
                    <div class="color"></div>
                    <div class="color"></div>
                </span>
            </button>
            
            <form class="form-inline" onSubmit="emailc('first');">
                <input id="first" class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search">
                <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Buscar</button>
            </form>
            
            <div class="collapse navbar-collapse" id="navlist">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link"  href="#">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/productos">Productos</a>
                    </li>
                    <a class="iniciarSesionlink" href="/login"><button type="button"  class="btn btn-outline-dark" class="iniciarSesion"> Iniciar Sesion</button></a>
                </ul>
            </div>
        </nav>
        
        <!--HEADER-->
        
        <section id="header">
           <div class="container">
		     <div class="row">
			 <div class="col-lg-6 col-md-6 col-sm-12 text-center">
			   <h1>AHORA PUEDES HACER TUS ORDENES DESDE NUESTRA PAGINA WEB</h1>
                 </div>
                 
			 
			 <div class="col-lg-6 col-md-6">
			   <img src="images/tecaf.jpg" width="333.33" height="250">
			 </div>  
			 </div>
		   </div>
        </section>
		
		<!--ICONS-->
		
		<section id="icons">
		  <div class="container">
		    <div class="row">
			  <div class="col-lg-3 col-md-6 col-sm-12 icons">
			    <i class="fas fa-industry fa-5x "></i>
				<p>Tegnologia de ultima generacion para la industria</p>
			  </div>
			  <div class="col-lg-3 col-md-6 col-sm-12 icons">
			    <i class="fas fa-truck fa-5x"></i>
				<p>Entrega a toda el pais en menos de 3 dias</p>
			  </div>
			  <div class="col-lg-3 col-md-6 col-sm-12 icons">
			    <i class="fas fa-tools fa-5x"></i>
				<p>Venta de herramientas electricas y mas</p>
			  </div>
			  <div class="col-lg-3 col-md-6 col-sm-12 icons">
			    <i class="fas fa-hands-helping fa-5x"></i>
				<p>Ayuda y asistencia en lo que necesites</p>
			  </div>
			</div>
		  </div>
		</section>
		
		<section id="compra">
		  <div class="container">
		    <div class="row">
			  <div class="col-lg-12 col-md-12">
			    <h1>NUESTROS PRODUCTOS</h1>
			  </div>
			</div>
			<div class="row">
			  <div class="col-lg-4 col-md-6 col-sm-12 textblurred textblurred1"> 
			    <img id="first" src="images/electricas.jpg">
				<h4>ELECTRICOS</h4>
				<p>TODA VARIEDAD DE HERRAMIENTAS ELECTRICAS DESDE PEQUEÑA A GRANDE</p>
			  </div>
			  
			  <div class="col-lg-4 col-md-6 col-sm-12 textblurred textblurred2">
			    <img id="second" src="images/agro.jpg" width="338" height="244">
				<h4>AGROINDUSTRIA</h4>
				<p>TODO TIPO DE MAQUINARIA Y ACCESORIOS PARA MANTENERLA CORRIENDO EN UNA EFICIENTE MANERA</p>
			  </div>
			  
			  <div  class="col-lg-4 col-md-12 col-sm-12 textblurred textblurred3">
			    <img id="third" src="images/varios.jpg" width="338" height="244">
				<h4>VARIOS</h4>
				<p>BISAGRAS, FAJAS, ADEMAS DE ELECTRODO DE CUALQUIER CALIBRE</p>
			  </div>
			    
            </div>
            </div>
		</section>
        
        <!--FOOTER-->
        
        <section id="footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <i class="fas fa-envelope"></i>
                        <i class="fab fa-instagram"></i>
                        <i class="fab fa-facebook-square"></i>
                        <i class="fab fa-twitter"></i>
                        <p>Copyright &copy 2019 TECAF. All rights reserved</p>
                     </div>
                </div>
            </div>
        </section>
		
		<script  type="text/javascript" src="fullstack.js">
		</script>
    </body>
</html>