<!DOCTYPE html>
<html>
<head>
    <title>Productos TECAF</title>
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!--CSS Link-->
    
    <link href="/seccion-bisagras2.css" rel="stylesheet">
    
    <!--Boostrap CSS Link-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        
        <!--Boostrap JS Link-->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        
		<!--Font Awesome-->
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    
</head>
<body>
    
    
    <div class="navbar navbar-expand-lg navbar-dark">
        
         <form class="form-inline  my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search">
      <button class="btn btn-outline-dark my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button>
         </form>
        
        <a href="/order" class="orden"><i class="fas fa-shopping-cart fa-2x"></i></a>
        
        <a class="btn btn-dark cerrar" type="singin" href="/logout">Cerrar Sesion</a>
    </div>
    

    
    <section id="nav">
    
   <a href="/"><img src="images/tecaf.jpg" class="navimg" width="145.2" height="102.8"></a>

  <div id="mySidebar" class="sidebar">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a class="nav-link" href="#">INICIO</a>
  <a class="nav-link" href="/seccion-bisagras2">BISAGRAS</a>
  <a  class="nav-link" href="/seccion-hule2">ACCESORIOS DE HULE</a>
  <a class="nav-link" href="/seccion-cafe2.">INDUSTRIA DEL CAFE</a>
</div>

<div id="main">
    <button class="openbtn" onclick="openNav()" onclick="dissa();"><i class="fas fa-arrow-right fa-2x"></i>MENU PRINCIPAL</button> 
</div>
    </section>
    
<section id="precios">
    

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card">
                    <img src="images/bisagras.jpg" class="card-img-top" alt="#">
                    <div class="card-body">
                        <h5 class="card-title">Bisagras de Cartucho</h5>
                        <p class="card-text">Bisagras de Bandera para pertas de uso indutrial</p>
                        <a href="/bisagras2" class="btn btn-primary">Ver Precios!</a>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-2 col-md-2">
            </div>
         
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card card2">
                    <img src="images/bisagras2.jpg" class="card-img-top bisagras2" alt="#">
                    <div class="card-body">
                        <h5 class="card-title">Bisagras de Bandera</h5>
                        <p class="card-text">Bisagras de Cartucho para pertas de uso indutrial</p>
                        <a href="/bisbandera2" class="btn btn-primary">Ver Precios!</a>
                    </div>
                </div>
            </div>
            
 
            
        </div>
            
        
    </div>
    
    </section>
    
    <section id="footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <i class="fas fa-envelope fo"></i>
                        <i class="fab fa-instagram fo"></i>
                        <i class="fab fa-facebook-square fo"></i>
                        <i class="fab fa-twitter fo"></i>
                        <p>Copyright &copy 2019 TECAF. All rights reserved</p>
                     </div>
                </div>
            </div>
        </section>
    <script src="/productos.js"></script>
</body>
</html>